{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9" style="max-width:25rem; margin-top:20px;">
          {% for image in images %}
    
          <div class="card mr-0" style="max-width:40rem; margin-top:30px;">
            <div class="card-header"><img class="img-fluid rounded-circle" src="{{image.profile.profile_photo.url}}" style="height:40px;margin-top:5px;margin-bottom:5px;">
              <a href="/profile/{{user.id}}">
                <label>{{image.profile.user}}</label></a>
            </div>
            <img src="{{image.insta_image.url}}" height="300px" width="200px" class="card-img-top" data-target="#extraModal{{image.id}}" data-toggle="modal">
           
                {{form.media}}
               
              </div>
          
          {% endfor %}

        </div>
       
      </div>
    </div>
  

{% endblock %}